@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.client_section {
  .heading_container {
    align-items: center;
    text-align: center;
  }

  .box {
    margin: 15px;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);
    padding: 25px;

    .client_id {
      display: flex;

      .img-box {
        width: 125px;
        min-width: 125px;
        margin-right: 15px;

        img {
          width: 100%;
          border-radius: 100%;
        }

        [dir="rtl"] & {
          margin-right: 0;
          margin-left: 15px;
        }
      }

      .client_detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding-right: 25px;

        [dir="rtl"] & {
          padding-right: 0;
          padding-left: 25px;
        }

        .client_info {
          h6 {
            margin-bottom: 0;
          }

          i {
            color: #fbaf5d;
          }
        }
        .rtl-quote {
          transform: scaleX(-1);
        }
      }
    }

    .client_text {
      margin-top: 20px;
    }
  }

  .rating_star {
    color: #fbaf5d;
  }

  .owl-carousel {
    .owl-nav {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      [dir="rtl"] & {
        flex-direction: row-reverse;
      }

      .owl-prev,
      .owl-next {
        width: 50px;
        height: 50px;
        background-color: $primary1;
        outline: none;
        margin: 0 20px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      [dir="rtl"] & {
        transform: scaleX(-1);
      }
    }
  }
}

[dir="rtl"] {
  .owl-carousel {
    direction: ltr;

    .owl-item {
      direction: rtl;
    }
  }
}
