@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.service_section {
  position: relative;

  .box {
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 0 5px 2px rgba($color: $black, $alpha: 0.15);
    padding: 25px 15px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-box {
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        max-width: 100%;
        transition: all 0.3s;
      }
    }

    .detail-box {
      margin-top: 15px;

      h5 {
        font-weight: bold;
      }

      p {
        margin: 0;
      }
    }

    &:hover {
      background-color: $primary2;
      color: $white;

      .img-box {
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a {
      @include hero_btn($primary1, $white, 10px, 45px, 0);
    }
  }
}
