@use "./mixins" as *;

.container {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;

  @include lg-breakpoint {
    max-width: 1170px !important;
  }
}

@include tablet {
  .layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .layout_padding-top {
    padding-top: 90px;
  }
  .layout_padding-bottom {
    padding-bottom: 45px;
  }
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}
