@use "variables" as *;

@mixin tablet {
  @media screen and (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin lg-breakpoint {
  @media screen and (min-width: $lg-breakpoint) {
    @content;
  }
}

@mixin secondary-font {
  font-family: "Merriweather Sans", sans-serif !important;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  @include secondary-font();
  text-transform: uppercase;
  padding: $pad1 $pad2;
  background-color: $col1;
  border: 1px solid $col1;
  border-radius: $bRadius;
  color: $col2;

  &:hover {
    background-color: transparent;
    color: $col1;
  }
}
