@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer_section {
  background-color: #0a0f43;

  p {
    margin: 0;
    padding: 25px 0;
    color: $white;
    text-align: center;
    border-top: 0.8px solid $white;
  }

  a {
    color: inherit;
  }
}
