@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  padding-top: 0;
  @include desktop {
    padding-top: 45px;
  }

  .row {
    align-items: center;
  }

  .detail-box {
    padding-bottom: 90px;
    @include tablet {
      ppadding-bottom: 45px;
    }

    h1 {
      font-weight: bold;
      margin-bottom: 25px;
      color: $primary;
    }

    p {
      color: #444;
      font-size: 15px;
      line-height: 22.5px;
    }

    a {
      @include hero_btn($primary2, $white, 10px, 45px, 5px);
      margin-top: 15px;
      text-decoration: none !important;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none !important;
      }
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }
}
